html, body {
	height: 100%;
}

#mainContainer {	
	height: 80%;
	position: absolute;
	top: 0px;

	display: flex;
	flex-direction: column;
	place-items: center;
}

#pdfEmbed {
	@media screen and (min-width: 1280px) {
		width: calc(100% - 2 * var(--fancy-border-width));
		height: calc(100% - 120px);
	}
	@media not screen and (min-width: 1280px) {
		width: calc(98% - 2 * var(--fancy-border-width));
		top: 200px;
		height: calc(100% - 180px);
	}
}
#pdfEmbed::before {
	border-radius: 20px;
}
#pdfEmbed::after, embed {
	border-radius: var(--fancy-border-default-radius);
}
embed {
	width: 100%;
	height: 100%;
}